sudo: required
language: r
warnings_are_errors: false
dist: trusty

r_github_packages:
 - rstudio/reticulate

r_packages:
  - tensorflow
  - testthat
  - covr

cache:
  packages: true
  directories:
    - $HOME/.cache/pip

addons:
  apt:
    sources:
      ubuntu-toolchain-r-test
    packages:
      - libmagick++-dev
      - wget
      - libatlas3gf-base
      - libatlas-dev
      - python-joblib
      - python-dev

before_install:
  - pip install --upgrade pip
  - pip install numpy
  - pip install tensorflow
  - pip install --upgrade setup.py
  - git clone https://github.com/GPflow/GPflow.git
  - cd GPflow
  - sudo python setup.py install
  - cd ..

after_success:
  - Rscript -e "covr::codecov()"

email:
  on_success: change
  on_failure: change
